<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Otter</title>
    <style media="screen">
      form {
        display: inline-block;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1>New Otter</h1>
    	<form action="/new_otter" method="post">
    		Name: <input type="text" name="name"><br>
    		Color: <input type="text" name="color"><br>
    		<input type="submit" value="Submit">
    	</form>
  </body>
</html>
